<div class="animals-display">
  <div class="buttons">
    <button [routerLink]="['ajouter']" mat-raised-button>
      Ajouter un animal
      <mat-icon inline="true">add_circle</mat-icon>
    </button>
  </div>
  <div *ngIf="!isLoading && !error">
    <table mat-table [dataSource]="animals">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef>Race</th>
        <td mat-cell *matCellDef="let element">{{ element.race }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Catégorie</th>
        <td mat-cell *matCellDef="let element">{{ element.animal_category.name }}</td>
      </ng-container>
      <ng-container matColumnDef="refuge">
        <th mat-header-cell *matHeaderCellDef>Refuge</th>
        <td mat-cell *matCellDef="let element">{{ element.refuge.name }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            [routerLink]="['editer', element.id]"
            class="actions"
            mat-flat-button
            color="primary"
          >
            Modifier
            <mat-icon inline="true">create</mat-icon>
          </button>
          <button
            [routerLink]="['photos', element.id]"
            class="actions"
            mat-stroked-button
            color="primary"
          >
            Photos ({{ element.pictures.length }})
            <mat-icon inline="true">insert_photo</mat-icon>
          </button>
          <button (click)="openDeleteDialog(element.id, element.name)"  class="actions" mat-flat-button color="warn">
            Supprimer
            <mat-icon inline="true">clear</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['name', 'race', 'category', 'refuge', 'actions']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['name', 'race', 'category', 'refuge', 'actions']"
      ></tr>
    </table>
    <mat-paginator
      [length]="meta.totalItems"
      [pageSize]="10"
      [pageIndex]="meta.currentPage - 1"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
  <mat-spinner *ngIf="isLoading" style="margin: auto;"></mat-spinner>
</div>
