<div class="event-form">
  <div class="form-container">
    <p style="color: red; text-align: center;" *ngIf="errorMessage">{{ errorMessage }}</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="coordinates" />
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
      <div formGroupName="event_theme">
        <mat-form-field>
          <mat-label>Catégorie</mat-label>
          <mat-select matInput formControlName="slug">
            <mat-option *ngFor="let t of themes" [value]="t.slug">{{
              t.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="address">
        <div class="address-inputs">
          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ville</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Code postal</mat-label>
            <input matInput formControlName="zip_code" />
          </mat-form-field>
          <button
            mat-stroked-button
            type="button"
            (click)="calculateCoords()"
            [disabled]="
              form.controls.address.invalid ||
              form.controls.zip_code.invalid ||
              form.controls.city.invalid
            "
          >
            Calculer les coordonnées
          </button>
          <p style="color: red;" *ngIf="coordsError">{{ coordsError }}</p>
        </div>
        <div class="address-map">
          <agm-map
            (mapClick)="mapClick($event)"
            *ngIf="coords"
            [latitude]="coords.latitude"
            [longitude]="coords.longitude"
            [zoom]="12"
          >
            <agm-marker
              [latitude]="coords.latitude"
              [longitude]="coords.longitude"
            ></agm-marker>
          </agm-map>
        </div>
      </div>
      <mat-form-field>
        <mat-label>description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Heure"
          [ngxTimepicker]="timepicker"
          [format]="24"
          readonly
          formControlName="time"
        />
        <ngx-material-timepicker #timepicker></ngx-material-timepicker>
      </mat-form-field>
      <button type="submit" mat-button>Confirmer</button>
    </form>
  </div>
</div>
