<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 coords">
        <div class="info">
          <div>
            <div class="icon">
              <fa-icon [icon]="locationIcon"></fa-icon>
            </div>
            <p>Grand Route 107a 7530 Tournai, Belgique</p>
          </div>
        </div>
        <div class="info">
          <div>
            <div class="icon">
              <fa-icon [icon]="phoneIcon"></fa-icon>
            </div>
            <p>+32 495262244</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img">
          <img src="../../../../assets/images/logo.png" alt="Logo de Coeur de Bouviers ASBL">
        </div>
      </div>
    </div>
  </div>
</footer>