<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <fa-icon [icon]="locationIcon"></fa-icon>
          <p>7500 Rue de la Vallée</p>
        </div>
        <div class="info">
          <fa-icon [icon]="phoneIcon"></fa-icon>
          <p>+32 412345678</p>
        </div>
      </div>
      <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, autem!</div>
      <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, autem!</div>
    </div>
  </div>
</footer>