@import '../../../../styles/variables';

$iconSize: 42px;

footer {
  background-color: $accentColor;
  width: 100%;
  min-height: 200px;
  color: $altText;
  display: flex;
  align-items: center;
}

.row {
  align-items: center;
}

.info>div {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  width: $iconSize;
  text-align: center;
}

fa-icon {
  font-size: $iconSize;
  color: $darkPrimaryColor;
}

.info p {
  position: absolute;
  left: 70px;
  font-size: 20px;
  color: $altText;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.img {
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media  screen and (max-width: 991px) {
  .coords {
    margin-top: 25px;
  }
  .info>div {
    margin: auto;
  }
}