<div class="block">
  <div class="container">
    <h3>Coeur de bouviers</h3>
    <div class="row">
      <div class="text col-lg-6 col-md-12">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur maxime vel optio, sit quos fugiat voluptate harum rem sint fuga labore deserunt neque commodi nobis eos nam facere cumque? Facere repudiandae qui optio eligendi fuga? Sapiente, ad consequuntur, iusto natus corporis rem molestiae tempora, soluta velit repudiandae minima voluptates?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo dolor voluptatum dolores, minus eum quasi aspernatur laboriosam at, ipsa necessitatibus minima deleniti, aliquam commodi cumque perferendis fugiat! Corrupti reprehenderit repellat animi. Cupiditate delectus incidunt fuga a eligendi porro? Tempora quam assumenda consectetur similique adipisci repellat quis delectus sed, necessitatibus nihil molestias sunt asperiores excepturi soluta odio eveniet, hic fugiat amet labore nesciunt neque, magnam esse odit! Nulla in sapiente doloremque delectus totam quod nobis ab.</p>
      </div>
      <figure class="col-lg-6 col-md-12">
        <img src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=912&q=80" alt="">
      </figure>
    </div>
  </div>
</div>