<div class="block">
  <div class="container">
    <div class="row">
      <div class="text col-lg-6 col-md-12">
        <h3>
          <strong>Coeur de Bouviers ASBL</strong>
        </h3>
        <h4>Tout a commencé par un coup de coeur, un jour...</h4>
        <p>
          L'association <strong>Coeur de Bouviers</strong> est née de l'amour pour le <strong>Bouviers des Flandres</strong>.
          Le <strong>chien</strong> exceptionnel au grand coeur, loyal et dévoué à son maître. Il est dôté d'intelligence et de courage, c'est un sage hardi.
        </p>
        <p>
          Bien sûr Coeur de Bouviers ASBL est sensible au bien-être de chaque Être vivant.
          Son but est l'accueil et l'<strong>hébergement des chiens</strong> , le <strong>sauvetage</strong> et l'aide à l'<strong>adoption</strong>.
          A cette fin l'association a obtenu son agréation comme refuge pour chiens en octobre 2017.
          Dans l'attente de leur nouveau foyer à vie, les pensionnaires vivent à l’intérieur, dans le cadre familial, aimés, soignés et rassurés.
        </p>
        <p>
          Nous pouvons aussi accompagner les propriétaires des chiens dans les recherches de nouvelles familles pour leur compagnon, s'ils souhaitent d'éviter le séjours en <strong>refuge</strong>.
          Tout ceci se fera sous couvert d'un contrat du <strong>refuge</strong>, en respectant la législation.
          La vie d'un animal est précieuse. A nous d'assurer leur bonheur.
        </p>
      </div>
      <div class="img col-lg-6 col-md-12">
        <img src="../../../../../assets/images/erda-estremera-unsplash.png" alt="Photo de chien par Erda Estremera sur Unsplash">
      </div>
    </div>
  </div>
  <figure class="bone">
    <img src="../../../../../assets/svg/bone.svg" alt="Os pour chien">
  </figure>
</div>
