@import '../../../../../styles/variables';

.block {
  position: relative;
  background: $primaryBlockColor;
  min-height: 300px;
  padding: 20px 0 0 0;
  z-index: 1;
}

h3 {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 40px;
  font-size: 40px;
}

.container {
  z-index: 100;
  position: relative;
  margin: auto;
}

.img {
  position: relative;
  display: flex;
  top: -50px;
  justify-content: center;
  width: 100%;
  height: 760px;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.text {
  height: auto;
  h4 {
    font-weight: bold;
    font-size: 26px;
    margin: 5px 0 25px 0;
  }

  p {
    text-align: justify;
    font-size: 17px;
    font-weight: lighter;
  }
}
.row {
  position: relative;
}

figure.bone {
  width: 150px;
  margin: auto;
  padding-bottom: 25px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 991px) {
  .row {
    flex-direction: column-reverse;
  }

  .img {
    top: 0;
  }

  .row {
    top: -100px;
  }
}