@import '../../../../../styles/variables';

.block {
  position: relative;
  background: $primaryBlockColor;
  min-height: 300px;
  padding: 20px 0 100px 0;
  z-index: 1;
}

h3 {
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 70px;
  font-size: 40px;
}

.container {
  z-index: 100;
  position: relative;
  margin: auto;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    top: -280px;
  }
}

.text {
  h4 {
    font-weight: bold;
    font-size: 30px;
    margin: 5px 0 25px 0;
  }

  p {
    text-align: justify;
    font-size: 16px;
    font-weight: lighter;
  }
}

.row figure {
  width: 450px;
  height: 450px;

  img {
    border: solid 5px $darkPrimaryColor;
    border-radius: 0 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

figure.paws {
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 80%;
  z-index: 1;
  transform: rotate(5deg);

  img {
    width: 100%;
    height: 100%;
  }
}
