<div class="lost-password">
    <form *ngIf="!submitMessage" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Mot de passe oublié</h1>
        <p>Entrez votre adresse email ci-dessous</p>
        <p style="color: red; text-align: center;" *ngIf="error" >{{ error }}</p>
        <mat-form-field>
            <mat-label>Adresse Email</mat-label>
            <input formControlName="email" type="email" matInput="email">
        </mat-form-field>

        <div *ngIf="!isLoading">
            <button type="submit" mat-flat-button color="primary">Envoyer</button>
        </div>

        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
    <p *ngIf="submitMessage">{{ submitMessage }}</p>
</div>