h1 {
  text-align: center;
}

.lost-password {
  width: 300px;
  margin: 20vh auto;
  background-color: rgb(243, 243, 243);
  padding: 10px 20px;

  mat-form-field {
    width: 100%;
    margin: auto;
    input {
      width: 100%;
    }
  }

  button {
    margin: 10px auto;
  }

  mat-spinner {
    margin: auto;
  }
}