<div class="animal-picture-form">
  <div>
    <div
      class="custom-dropzone"
      ngx-dropzone
      [accept]="'image/*'"
      (change)="onSelect($event)"
    >
      <ngx-dropzone-label>
        <div>
          <h2>Glissez les photos ou cliquez ici</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngFor="let f of files"
        [file]="f"
        [removable]="true"
        (removed)="onRemove(f)"
      >
      </ngx-dropzone-image-preview>
    </div>
    <button mat-raised-button (click)="onSubmit()">Envoyer</button>
  </div>
  <p style="text-align: center; color: red;" *ngIf="error">{{ error }}</p>
  <mat-spinner *ngIf="isLoading && !error" style="margin: auto"></mat-spinner>
  <div class="pictures" *ngIf="!isLoading && pictures && !error">
    <figure *ngFor="let pic of pictures" (click)="deletePicture(pic.id)">
      <img [src]="getSrc(pic.picture)" alt="">
    </figure>
  </div>
  <div *ngIf="!isLoading && pictures.length <= 0 && !error">
    <p style="text-align: center; font-size: 28px;">Aucune photo</p>
  </div>
</div>
