<div class="event-picture-form">
  <div class="content" *ngIf="!isLoading">
    <div style="text-align: center;">
      <p *ngIf="!data.event.image_url">Pas de photo</p>
      <figure *ngIf="data.event.image_url">
        <img [src]="picture" alt="" />
        <div class="icon" (click)="deletePicture()">
          <mat-icon inline="true">clear</mat-icon>
        </div>
      </figure>
    </div>
    <p style="color: red;" *ngIf="error">{{ error }}</p>
    <div
      class="custom-dropzone"
      ngx-dropzone
      [accept]="'image/*'"
      (change)="onSelect($event)"
      multiple="false"
    >
      <ngx-dropzone-label>
        <div>
          <h2>Glissez une photo ou cliquez ici</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview
        ngProjectAs="ngx-dropzone-preview"
        *ngIf="file"
        [file]="file"
        [removable]="true"
        (removed)="onRemove()"
      >
      </ngx-dropzone-image-preview>
    </div>
    <button mat-button (click)="onSubmit()">Envoyer</button>
  </div>
  <mat-spinner *ngIf="isLoading" style="margin: auto;"></mat-spinner>
</div>
