<div class="block">
  <div class="container">
    <h3>Plus d'info</h3>
    <div class="row">
      <div class="text col-sm-6">
        <div class="map-container"></div>
      </div>
      <div class="col-sm-6">
        <div class="info-card">
          <div class="icon-emplacement"></div>
          <fa-icon [icon]="infoIcon"></fa-icon>
          <div class="content">
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="locationIcon"></fa-icon>
              </div>
              <p>7500 Rue de la Vallée</p>
            </div>
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="phoneIcon"></fa-icon>
              </div>
              <p>+32 412345678</p>
            </div>
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="facebookIcon"></fa-icon>
              </div>
              <p><a href="#">ASBL Coeur de bouvier</a></p>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="icon-emplacement"></div>
          <fa-icon [icon]="clockIcon"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
