<div class="block" id="more-info">
  <div class="container">
    <h3>En savoir plus</h3>
    <div class="row">
      <div class="map col-lg-6">
        <div class="map-container" *ngIf="browser">
          <agm-map [latitude]="coords.lat" [longitude]="coords.lng" [zoom]="14">
            <agm-marker [latitude]="coords.lat" [longitude]="coords.lng"></agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info-card">
          <div class="icon-emplacement"></div>
          <fa-icon [icon]="infoIcon"></fa-icon>
          <div class="content">
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="locationIcon"></fa-icon>
              </div>
              <p>Grand Route 107a 7530 Tournai</p>
            </div>
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="phoneIcon"></fa-icon>
              </div>
              <p>+32 495262244</p>
            </div>
            <div class="info">
              <div class="icon">
                <fa-icon [icon]="facebookIcon"></fa-icon>
              </div>
              <p><a href="https://www.facebook.com/C%C5%93ur-de-Bouviers-ASBL-1923328031280221/">Coeur de bouvier ASBL</a></p>
            </div>
          </div>
        </div>
        <div class="info-card schedule">
          <div class="icon-emplacement"></div>
          <fa-icon [icon]="clockIcon"></fa-icon>
          <div class="content">
            <p><span>Dimanche</span>: 14h - 18H</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <figure class="bone">
    <img src="../../../../../assets/svg/bone.svg" alt="Os pour chien">
  </figure>
</div>
