<header [ngClass]="{'transparent': isHomePage && !hasScrolled}">
  <div class="container">
    <div id="logo">LOGO</div>
    <nav>
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Accueil</a>
        </li>
        <li routerLinkActive="active">Animaux</li>
        <li routerLinkActive="active">Évènements</li>
        <li routerLinkActive="active">
          <a routerLink="/contact"
            >Contact <fa-icon [icon]="dropdown"></fa-icon
          ></a>
        </li>
        <li routerLinkActive="active">Nous soutenir</li>
      </ul>
    </nav>
  </div>
</header>
