<div class="welcome">
    <div id="main-frame">
        <div class="gradient"></div>
        <img
                src="https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="Photo de chien, Photo by Jamie Street on Unsplash"
        />
    </div>
    <div id="image-text">
        <div class="content">
            <p>
                Bienvenue chez Coeur de Bouviers ASBL. Bonne visite sur notre site.
            </p>
            <div class="actions">
                <button class="app-btn"><a href="#more-info">Plus d'infos</a></button>
                <div>
                    <div class="info">
                        <div class="icon">
                            <fa-icon [icon]="locationIcon"></fa-icon>
                        </div>
                        <address>
                            Grand Route 107a 7530 Tournai
                        </address>
                    </div>
                    <div class="info">
                        <a class="tel-link" href="tel:+32495262244">
                            <div class="icon">
                                <fa-icon [icon]="phoneIcon"></fa-icon>
                            </div>
                        </a>
                        <p>+32 495262244</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
