$darkPrimaryColor: #f57c00;
$primaryColor: #ff9800;
$accentColor: #795548;
$lightPrimaryColor: #ffe0b2;

$primaryBlockColor: #FFF3E0;
$secondaryBlockColor: #FFEFD4;

$primaryText: #212121;
$secondaryText: #ffffff;
$altText: #FFCB7E;

$dividerColor: #bdbdbd;
