<div class="block">
  <div class="container">
    <h3>Nos services</h3>
    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <div class="icon">
            <fa-icon [icon]="doorOpenIcon"></fa-icon>
          </div>
          <h4>L'accueil</h4>
          <p>Nous accueillons les chiens abandonnés ou perdus .</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box">
          <div class="icon">
            <fa-icon [icon]="homeIcon"></fa-icon>
          </div>
          <h4>L’hébergement</h4>
          <p>Nous hébergeons les chiens abandonnés ou perdus.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box">
          <div class="icon">
            <fa-icon [icon]="lifeRingIcon"></fa-icon>
          </div>
          <h4>Les Sauvetages</h4>
          <p>
            Nous nous déplaçons à travers de la Belgique afin d'aider les chiens dans la difficulté.
            Nous demandons l'accompagnement de services BEA et de la police.
          </p>
        </div>
      </div>
    </div>
  </div>
  <figure class="bone">
    <img src="../../../../../assets/svg/bone.svg" alt="Os pour chien">
  </figure>
</div>
