@import '../../../../styles/variables';

h1 {
  text-align: center;
  color: $primaryText;
  margin: 40px auto;
}

.rgpd-info {
  font-style: italic;
  font-size: 13px;
}

#back-button {
  margin: 15px 0;

  fa-icon {
    margin-right: 5px;
  }
}

form {
  fa-icon {
    margin-left: 5px;
  }

  #submit-button {
    margin: 25px 25px 25px 0;
  }
}
