<div class="container">
  <h1>Animaux à adopter</h1>
  <div class="row" *ngIf="!isLoading && !error && meta.totalItems < 1">
    <p style="text-align: center; margin: auto;">Il n'y a pas d'animaux dans notre refuge.</p>
  </div>
  <div class="row" *ngIf="!isLoading && !error && meta.maxPages > 1">
    <app-paginator
      (changePage)="setLoader()"
      [meta]="meta"
      [route]="['/animaux']"
    ></app-paginator>
  </div>
  <div class="row" *ngIf="!isLoading && !error">
    <div class="animal-col col-lg-6" *ngFor="let animal of animals">
      <app-animal-card [animal]="animal"></app-animal-card>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading && !error && meta.maxPages > 1">
    <app-paginator
      (changePage)="setLoader()"
      [meta]="meta"
      [route]="['/animaux']"
    ></app-paginator>
  </div>

  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div *ngIf="!isLoading && error">
    <p>Une erreur est survenue : {{ error }}</p>
    <button (click)="clearError()" class="btn btn-danger">Ok</button>
  </div>
</div>
