.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-logout-button {
  position: absolute;
  right: 0px;

  mat-icon {
    margin-left: 10px;
  }
}

mat-sidenav-container {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .main-logout-button {
    span {
      display: none;
    }

    mat-icon {
      margin-left: 0;
    }
  }
}