<div class="login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Espace administratif</h1>
    <p style="color: red; text-align: center;" *ngIf="error" >Identifiants incorrects</p>
    <mat-form-field>
      <mat-label>Pseudo</mat-label>
      <input formControlName="username" type="email" matInput="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input formControlName="password" type="password" matInput>
    </mat-form-field>

    <div *ngIf="!isLoading">
      <button type="submit" mat-flat-button color="primary">Se connecter</button>
      <p>
        <a routerLink="/admin/lost-password" style="color: red;">Mot de passe oublié ?</a>
      </p>
    </div>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</div>