<div class="password-change">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Mot de passe oublié</h1>
        <p style="color: red; text-align: center;" *ngIf="error">{{ error }}</p>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" type="password" matInput="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmer le mot de passe</mat-label>
            <input formControlName="cPassword" type="password" matInput="password">
        </mat-form-field>

        <p style="color: red;"
           *ngIf="form.get('password').touched && form.get('cPassword').touched && !matchingPassword()">Les mots de
            passe ne sont pas identiques</p>

        <div *ngIf="!isLoading">
            <button [disabled]="!matchingPassword() || form.invalid" type="submit" mat-flat-button color="primary">
                Envoyer
            </button>
        </div>

        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</div>
