<div class="container">
  <h1>Évènements</h1>
  <div class="row" *ngIf="!isLoading && !error && meta.maxPages > 1">
    <app-paginator
      (changePage)="setLoader()"
      [meta]="meta"
      [route]="['/evenements']"
    ></app-paginator>
  </div>
  <div class="row" *ngIf="!isLoading && !error">
    <div class="col-12" *ngFor="let event of events" >
      <a [routerLink]="[event.slug]">
        <div class="card">
          <div class="row">
            <div class="col-4 img card-img">
              <img [src]="event.image_url" [alt]="'Photo de l\'évènement ' + event.title">
            </div>
            <div class="col-8 card-body">
              <div>
                <h3 style="font-weight: bold">{{ event.title }}</h3>
                <p>{{ event.description }}</p>
              </div>
              <div>
                <p style="font-weight: bold">{{ event.city }} - {{ event.event_date | date:'EEEE d MMMM y à H:mm' }}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading && !error && meta.maxPages > 1">
    <app-paginator
      (changePage)="setLoader()"
      [meta]="meta"
      [route]="['/evenements']"
    ></app-paginator>
  </div>
  <div class="loader" *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>