<div>
  <div class="card" style="width: 100%;">
    <a [routerLink]="[link]">
      <div class="card-img-container">
        <div class="card-img-background"></div>
        <img [src]="getSrc(animal.pictures[0] ? animal.pictures[0].picture : null)" [alt]="description" class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ animal.name }}</h5>
        <p><span style="font-weight: bold">{{ animal.animal_category.name }} {{ animal.race }}</span> de {{ animal.age | animalAge }}.</p>
        <p>{{ animal.description }}</p>
      </div>
    </a>
  </div>
</div>
