.form-container {
  width: 60%;
  margin: 25px auto;

  mat-form-field {
    width: 100%;
  }

  .age-control {
    display: flex;
    justify-content: space-between;
    >div {
      width: 48%;
    }
  }
}
