<div class="event-registration-form">
    <div *ngIf="!messageSent">
        <h3 style="text-align: center; margin: 25px 0;">Formulaire d'inscription</h3>
        <p style="color: red; text-align: center" *ngIf="error">{{ error }}</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Adresse Email</label>
                <input class="form-control" type="email" formControlName="from" id="email">
            </div>
            <div class="form-group">
                <label for="name">Prénom</label>
                <input class="form-control" type="text" formControlName="name" id="name">
            </div>
            <div class="form-group">
                <label for="surname">Nom</label>
                <input class="form-control" type="text" formControlName="surname" id="surname">
            </div>
            <div class="form-group">
                <label for="phone">Numéro de téléphone</label>
                <input class="form-control" type="text" formControlName="phone" id="phone">
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea class="form-control" id="content" formControlName="content"></textarea>
            </div>
            <p class="rgpd-info">Aucune donnée personnelle n’est conservée par notre site via ce formulaire</p>
            <re-captcha (resolved)="resolved($event)" siteKey="6LebwKcZAAAAABA6aG-_EcGexPLShY4x7gBhLp5b"></re-captcha>
            <button *ngIf="!isLoading" class="btn btn-success" type="submit" style="margin: 25px 0;" [disabled]="form.invalid || !userKey">Envoyer</button>
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </form>
    </div>
    <div *ngIf="messageSent">
        <p style="text-align: center;">Votre inscription a bien été envoyée.</p>
    </div>
</div>
